
.random {
    background-color: #1790FF;
}

.Muibutton-contained {
    background-color: #1790FF;
    float: right;
}

.last {
    padding-top: 150px;
    text-align: center;
}

.center {
    text-align: center;
}

.pad {
    padding-top: 15px;
}